.dropdown {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease;
  width: 100%;
  overflow: hidden;

  &__content {
    overflow: hidden;
  }

  &_open {
    grid-template-rows: 1fr;
  }
}
