.modal {
  &__title {
    @include typography-h3(#f7f7fa, center);
  }

  &__fields {
    display: flex;
    flex-direction: column;
    // gap: 16px;
    width: 100%;
  }

  &__textarea {
    display: flex;
    height: 136px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    padding: 16px 12px 8px 16px;

    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.14);

    /* shadow-light-mode-input */
    box-shadow: 0px 2px 3px 0px rgba(102, 100, 113, 0.1);
    resize: none;
    @include typography-body-l-medium-narrow(rgba(255, 255, 255, 0.55));
    font-size: 16px;

    &::placeholder {
      @include typography-body-l-medium-narrow(rgba(255, 255, 255, 0.55));
      font-size: 16px;
    }
  }

  &__input {
    height: 56px;
    padding: 6px 8px 6px 24px;
    width: 100% !important;
    margin-top: 16px;

    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.14);

    /* shadow-light-mode-input */
    box-shadow: 0px 2px 3px 0px rgba(102, 100, 113, 0.1);
    @include typography-body-l-medium-narrow(#dadae1);

    &::placeholder {
      @include typography-body-l-medium-narrow(#dadae1);
    }
  }

  &__btn {
    display: flex;
    height: 56px;
    padding: 0px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 16px;
    background: #acbafd;
    @include typography-body-l-narrow(#020268);
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  &__agreement {
    margin-top: 0 !important;
  }
}

.modal__success {
  width: fit-content;
}
