// @use '@/styles/typography.scss' as *;
// @use '@/styles/mixins.scss' as *;

.header {
  position: absolute;
  top: 24px;
  left: 50%;
  width: 1240px;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 3;

  // animation-duration: 0.6s;
  // animation-name: initialize;
  // animation-delay: 1.25s;
  // animation-fill-mode: both;

  @include animation($name: 'initialize-header', $duration: 0.6s, $delay: 1.25s);
}

.nav {
  margin-right: auto;
  display: flex;
  width: 644px;
  height: 44px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 40px;
  border: 1px solid var(---white-500, rgba(255, 255, 255, 0.55));

  &__link {
    display: flex;
    padding: 7px 32px 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;

    @include typography-body-l-medium-narrow;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: calc(100% + 4px);
      height: calc(100% + 4px);

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.1s ease;

      opacity: 0;
      border-radius: 40px;
      border: 1px solid var(---white-100, rgba(255, 255, 255, 0.08));
      background: var(---white-200, rgba(255, 255, 255, 0.14));
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
}

.contact {
  display: flex;
  padding-left: 32px;
  align-items: center;
  gap: 24px;
  border-radius: 40px;
  border: 1px solid var(---white-400, rgba(255, 255, 255, 0.3));
  position: relative;
  z-index: 1;
  @include typography-body-m-narrow;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    padding: 10px;
    gap: 8px;
    border-radius: 50%;
    border: 1px solid var(---primary-100, #eaedff);

    svg {
      transform: translateX(-1px);
      path {
        fill: var(---primary-100, #eaedff);
      }
    }
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.lang {
  height: 44px;
  width: 44px;
  padding: 10px;
  gap: 8px;
  border-radius: 50%;
  border: 1px solid var(---primary-100, #eaedff);
  background: none;
  cursor: pointer;

  @include typography-btn-input-l-bold;
}

.nav,
.right {
  @include media-max-tablet {
    display: none;
  }
}

// @keyframes initialize {
//   from {
//     transform: translate(-50%, calc(-100% - 24px));
//   }
//   to {
//     transform: translate(-50%, 0);
//   }
// }
