@use '@/styles/typography' as *;
@use '@/styles/mixins' as *;

.faq {
  max-width: 1240px;
  padding: 140px 0;
  margin: 0 auto;
  position: relative;

  @include container();

  &__title {
    @include typography-h3(var(---primary-100, #eaedff), center);
    margin-bottom: 60px;
  }

  &__questions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 644px;
    margin: 0 auto;
  }

  &__ask {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px auto 0 auto;
    max-width: 644px;
    width: 100%;
    gap: 8px;
    height: 56px;
    padding: 0px 8px 0px 16px;
    border-radius: 16px;
    border: 1px solid var(--color-roles-outline-variant, rgba(255, 255, 255, 0.2));
    background: var(--color-roles-surface-container-high, rgba(255, 255, 255, 0.14));

    /* shadow-light-mode-input */
    box-shadow: 0px 2px 3px 0px rgba(102, 100, 113, 0.1);

    @include media-max-tablet {
      border: none;
      background: none;
      box-shadow: none;
      gap: 0;
      padding: 0 50px;
    }

    input {
      @include typography-body-l-medium-narrow(var(--btn-primary, #acbafd));
      background: none;
      border: none;
      flex: 1;
      outline: none;

      @include media-max-tablet {
        display: none;
      }
    }

    button {
      display: inline-flex;
      height: 44px;
      padding: 10px 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      flex-shrink: 0;
      border-radius: 10px;
      border: 1px solid var(--btn-primary, #acbafd);
      background: none;
      @include typography-btn-input-l-bold(var(--btn-primary, #acbafd), center);

      @include media-max-tablet {
        margin: 0 auto;
        display: flex;
        width: 100%;
        max-width: 420px;
        height: 56px;
        padding: 0px 32px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 40px;
        background: var(--color-roles-primary, #acbafd);
      }
    }
  }
}

.question {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--btn-primary-hover, #d5dcfe);
  background: var(--color-roles-surface-container, rgba(255, 255, 255, 0.08));
  cursor: pointer;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include typography-body-m-narrow(var(---primary-100, #eaedff));

    button {
      background: none;
      border: none;
      fill: var(---primary-100, #eaedff);
      transform: rotate(0deg);
      transition: transform 0.3s ease;
    }

    &_open {
      button {
        transform: rotate(180deg);
      }
    }
  }

  &__answer {
    p {
      overflow: hidden;
      padding-top: 8px;
      @include typography-body-m-narrow(var(---primary-100, #eaedff));
    }
  }
}

.modal {
  &__title {
    @include typography-h3(var(--color-roles-on-surface, #f7f7fa), center);
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  &__textarea {
    display: flex;
    height: 136px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    padding: 16px 12px 8px 16px;

    border-radius: 16px;
    border: 1px solid var(--color-roles-outline-variant, rgba(255, 255, 255, 0.2));
    background: var(--color-roles-surface-container-high, rgba(255, 255, 255, 0.14));

    /* shadow-light-mode-input */
    box-shadow: 0px 2px 3px 0px rgba(102, 100, 113, 0.1);
    resize: none;
    @include typography-body-l-medium-narrow(var(--input-placeholder, rgba(255, 255, 255, 0.55)));

    &::placeholder {
      @include typography-body-l-medium-narrow(var(--input-placeholder, rgba(255, 255, 255, 0.55)));
    }
  }

  &__input {
    height: 56px;
    padding: 6px 8px 6px 24px;
    width: 100%;

    border-radius: 16px;
    border: 1px solid var(--color-roles-outline-variant, rgba(255, 255, 255, 0.2));
    background: var(--color-roles-surface-container-high, rgba(255, 255, 255, 0.14));

    /* shadow-light-mode-input */
    box-shadow: 0px 2px 3px 0px rgba(102, 100, 113, 0.1);
    @include typography-body-l-medium-narrow(var(--color-roles-on-surface-variant, #dadae1));

    &::placeholder {
      @include typography-body-l-medium-narrow(var(--color-roles-on-surface-variant, #dadae1));
    }
  }

  &__btn {
    display: flex;
    height: 56px;
    padding: 0px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--color-roles-primary, #acbafd);
    @include typography-body-l-narrow(var(--btn-on-primary, #020268));
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  &__agreement {
    margin-top: 0 !important;
  }
}

.eclipse {
  position: absolute;
  width: 1005px;
  // max-width: 52vw;
  height: 1005px;
  // max-height: 52vw;
  border-radius: 50%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(66, 51, 255, 0.31) 0%,
    rgba(74, 44, 255, 0) 100%
  );
  z-index: -1;
  transition: all 0.3s ease;

  @include media-max-tablet {
    width: 854px;
    max-width: none;
    height: 854px;
    max-height: none;
  }
}

.eclipse_1 {
  top: 10%;
  left: 0%;
  transform: translate(-10%, -40%);

  @include media-max-tablet {
    transform: translate(-5%, -48%);
  }
}

.eclipse_2 {
  top: 50%;
  right: 0%;
  transform: translate(-10%, -50%);

  @include media-max-tablet {
    transform: translate(-67%, -40%);
  }
}

.eclipse_3 {
  top: 75%;
  left: 0%;
  transform: translate(-10%, -50%);

  @include media-max-tablet {
    transform: translate(25%, -26%);
  }
}

.switch_btn {
  margin: 24px auto 0;
}
