@use '@/styles/mixins.scss' as *;
@use '@/styles/typography.scss' as *;

.agreement {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  padding: 40px 80px;
  align-items: center;
  gap: 32px;

  border-radius: 160px;
  background: var(--color-roles-surface-container-highest, rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(100px);

  width: 1545px;
  max-width: calc(100vw - 40px);
}

.text {
  @include typography-body-l-medium-narrow(#fff);
}

.link {
  color: var(--color-roles-primary, #acbafd);
}

.btn {
  display: flex;
  height: 56px;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  background: var(--color-roles-primary, #acbafd);
  min-width: fit-content;
  @include typography-body-l-narrow(var(--btn-on-primary, #020268));
}
