.callback {
  min-height: 358px;
  overflow: hidden;
  background: $gradient-bcg;
  position: relative;

  &::before {

    @supports not (content: url("../img/callback-girl.webp")) {
      content: url("../img/callback-girl.png");
    }

    content: url("../img/callback-girl.webp");
    position: absolute;
    width: 352px;
    height: 474px;
    right: calc((100% - 886px)/2);
    top: 31px;
    z-index: 3;
  }
}

.callback__wrapper {
  width: 350px;
  margin-left: 205px;
  padding-top: 86px;
  position: relative;
  z-index: 2;

  p {
    @include font($raleway, 20px, 28px, 800, normal);
    color: $light-red;
    margin: 0;
    padding-bottom: 67px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 551px;
    height: 551px;
    border-radius: 50%;
    background: #F8fbdf;
    filter: blur(200px);
    z-index: -1;
    top: -97px;
    left: -112px;
  }
}
