.footer {
  flex: 0 0 auto;
  min-height: 266px;
  background-color: $dark-cyan;
  position: relative;

  @media (max-width: $tablet-width) {
    min-height: 257px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 90px;
  }
}

.footer__wrapper {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 61px 0 51px;

  @media (max-width: $tablet-width) {
    padding-top: 52px;
  }

  a {
    color: $main-white;
    @include font($raleway, 14px, 16px, 700, normal);
    text-align: center;
    @include hover;
  }
}

.footer__link {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    color: #FFF;
    @include font($raleway, 14px, 16px, 700, normal);
    text-align: center;
  }

  a {
    margin: 0 10px;
  }

  @media (max-width: $mobile-width) {
    bottom: 10px;
    transform: translateX(50%);
    top: auto;

    img {
      width: 100px;
    }
  }
}

.footer__address,
.footer__tel {
  margin-bottom: 29px;
}

.footer__social-list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  width: 173px;
}

.footer__address {

  a {
    position: relative;

    &::before {
      position: absolute;
      content: url("../img/icon/marker.svg");
      width: 15px;
      height: 21px;
      left: -20px;
    }
  }
}

.footer__tel {

  a {
    position: relative;

    &::before {
      position: absolute;
      content: url("../img/icon/phone-footer.svg");
      width: 15px;
      height: 15px;
      left: -20px;
    }
  }
}
