.header {
  flex: 0 0 auto;
  min-height: 48px;
  background: $gradient-bcg;
}

.header__logo {
  margin-right: 43px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  max-width: 1032px;
  width: 100%;
  margin: 0 auto;
}

.header__nav {
  margin-right: auto;
  background: radial-gradient(51.16% 8231.72% at 50.07% 50%, $main-white 0%, rgba($main-black, 0) 100%);
}

.header__nav-list {
  @include reset-list;
  display: flex;
  height: 48px;
  align-items: center;
}

.header__nav-item {
  @include font($raleway, 12px, 14px, 600, normal);
  margin-right: 48px;

  a {
    color: $dark-cyan;
    @include hover;
  }
}

.header__tel {
  @include font($raleway, 12px, 14px, 700, normal);
  @include hover;
  color: $dark-cyan;
  margin-right: 67px;
  position: relative;

  &::before {
    position: absolute;
    content: url("../img/icon/phone.svg");
    width: 15px;
    height: 15px;
    left: -22px;
    top: -1px;
  }
  // svg {
  //   display: inline-block;
  //   vertical-align: middle;
  //   margin-right: 6px;
  // }
}
