.header {
  flex: 0 0 auto;
  min-height: 48px;
  background: $gradient-bcg;

  @media (max-width: $mobile-width) {
    display: flex;
    align-items: center;
  }
}

.header__logo-link {
  margin-right: auto;
}

.header__wrapper {
  display: flex;
  align-items: center;
  max-width: 1066px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding: 0 23px;
    // position: relative;
  }

  @media (max-width: $mobile-width) {
    padding: 0 5px;
  }

  img {
    margin-right: auto;

    @media (max-width: $mobile-width) {
      width: 79px;
      height: 36px;
    }
  }

  button {
    display: none;

    @media (max-width: $tablet-width) {
      position: absolute;
      display: block;
      width: 34px;
      height: 34px;
      cursor: pointer;
      right: 34px;
    }

    @media (max-width: $mobile-width) {
      width: 30px;
      height: 30px;
      right: 8px;
    }
  }
}

.header__nav {
  margin-right: auto;
  background: radial-gradient(51.16% 8231.72% at 50.07% 50%, $main-white 0%, rgba($main-black, 0) 100%);
  // position: relative;

  @media (max-width: $tablet-width) {
    background: none;
    transform: translateY(-100px);
    background-color: $light-cyan;
    opacity: 0;
  }
}

.header__nav-list {
  @include reset-list;
  display: flex;
  height: 53px;
  align-items: center;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    overflow: auto;
    height: 70%;
    position: fixed;
    width: 100%;
  }
}

.header__nav-item {
  @include font($raleway, 12px, 14px, 600, normal);
  color: $dark-cyan;
  margin-right: 48px;

  @media (max-width: $tablet-width) {
    min-height: 40px;
    margin-right: 0;
    border-bottom: 2px solid rgba(191, 190, 190, 0.1);
    @include flex-center;
    width: 100%;
  }

  a {
    color: $dark-cyan;

    @media (min-width: $desktop-width) {
      @include hover;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &--active {

    a {
      color: $light-red;
    }
  }
}

.header__tel {
  @include font($raleway, 12px, 14px, 700, normal);
  @include hover;
  color: $dark-cyan;
  margin-right: 83px;
  position: relative;

  @media (max-width: $tablet-width) {
    margin-right: 88px;
  }

  @media (max-width: $mobile-width) {
    @include resize-txt(9px, 11px);
    margin-right: 38px;
    margin-top: 5px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon/phone.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    left: -22px;
    top: -1px;

    @media (max-width: $mobile-width) {
      width: 10px;
      height: 10px;
      left: -17px;
      top: 0px;
    }
  }
}

.header__nav--show {

  @media (max-width: $tablet-width) {
    transform: translateX(0);
    transition: $trans--300;
    opacity: 1;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $light-cyan;
    position: absolute;
    z-index: 40;
    padding: 55px 0;
  }
}
