.how-work {
  background: $gradient-bcg;
  min-height: 883px;
}

.how-work__wrapper {
  max-width: 830px;
  width: 100%;
  margin: 0 auto;
  padding: 98px 0 72px;

  h2 {
    max-width: 438px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 62px;
  }
}

.how-work__features-list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 30px;
  row-gap: 5px;
}

.how-work__features-item {
  display: flex;
  align-items: center;
  text-align: center;
  flex-flow: column wrap;
  width: 400px;
  min-height: 285px;
  padding: 24px 61px 33px;

  h3,
  p {
    margin: 0;
  }

  h3 {
    @include font($raleway, 14px, 16px, 800, normal);
    color: $very-dark-cyan;
    padding-bottom: 23px;
  }

  p {
    @include font($raleway, 14px, 16px, 500, normal);
    color: $main-black;
  }
}

.how-work__features-icon {
  height: 70px;
  margin-bottom: 10px;

  &--small {
    height: 65px;
    margin-bottom: 26px;
  }
}
