.inprogress {
  p {
    margin: 0;
    @include font($raleway, 20px, 20px, 500, normal);
    color: $main-black;
    padding-bottom: 40px;
    margin-bottom: 43px;
    max-width: 684px;
    width: 100%;
    letter-spacing: 0.2px;

    @media (max-width: $tablet-width) {
      margin: 0 auto 10px;
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(14px, 16px);
      padding-bottom: 17px;
    }
  }
}
