.intro {
  min-height: 734px;
  background: linear-gradient(100.53deg, #E4F8F2 13.43%, #E0F3EE 26.9%, #CAF9EF 59.86%, #C4EAE2 92.69%);
  position: relative;

  &::after,
  &::before {
    position: absolute;
    content: "";
  }

  &::after {
    width: 568px;
    height: 568px;
    background: #f8fbdf;
    filter: blur(240px);
    right: 24px;
    bottom: 0;
  }

  &::before {
    width: 328px;
    height: 328px;
    background: $main-white;
    filter: blur(100px);
    bottom: 119px;
    right: 119px;
    z-index: 1;
  }

  h1,
  p {

    margin: 0;
  }

  h1 {
    @include font($raleway, 52px, 61px, 900, normal);
    padding-bottom: 33px;
    color: $dark-cyan;

    span {
      @include font($drina, 100px, 125px, 400, normal);
      color: $light-red;
      padding-top: 10px;
    }
  }

  p {
    @include font($raleway, 24px, 28px, 500, normal);
    width: 567px;
    letter-spacing: 0.3px;
    color: $very-dark-cyan;

    span {
      font-weight: 800;
    }
  }
}

.intro__wrapper {
  padding-top: 78px;
  margin-left: 70px;
  position: relative;
  z-index: 2;
}

.intro__features-list {
  padding-left: 24px;
  margin-top: 55px;
}

.intro__features-item {
  @include font($raleway, 16px, 19px, 800, normal);
  color: $very-dark-cyan;
  padding-bottom: 14px;
}

.intro__links {
  display: flex;
  margin-top: 54px;
}
