.main {
  flex: 1 0 auto;
  overflow: hidden;
  transition: $trans--300;
  background-color: $main-white;

  h2 {
    @include font($drina, 73px, 74px, 400, normal);
    color: $very-dark-cyan;
    margin: 0;
  }
}
