.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  padding: 10px;
  gap: 8px;
  border-radius: 50%;
  border: 1px solid var(---primary-100, #eaedff);
  background: none;

  path {
    fill: var(---primary-100, #eaedff);
  }
}
