@use '@/styles/typography' as *;
@use '@/styles/mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 56px;
  overflow: hidden;

  @include container();

  @include media-max-tablet {
    gap: 80px;
  }
}

.title {
  @include typography-h2(var(---primary-200, #d5dcfe), center);

  @include media-max-tablet {
    @include typography-h3(var(---primary-200, #d5dcfe), center);
  }
}

.steps {
  display: flex;
  flex-direction: column;
  @include media-max-tablet {
    gap: 80px;
  }
}

.step {
  display: flex;
  align-items: center;
  position: relative;

  @include media-max-tablet {
    flex-direction: column-reverse;
    max-width: 480px;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 109px;
      height: 166px;
      background: url('/svg/curved-small.svg');
      background-size: contain;
    }
  }

  @include media-max-mobile {
    max-width: 100%;
    &:after {
      display: none;
    }
  }

  &:nth-child(1) {
    gap: 74px;
    margin-left: 36%;
    padding: 14px 0;

    @include media-max-tablet {
      gap: 44px;
      padding: 0;
      margin: 0 auto;

      &:after {
        right: 0;
        bottom: 0;
        transform: translate(-20%, 40%);
      }
    }

    .step__img {
      @include media-max-tablet {
        height: 194px;
        width: auto;
        padding: 0;
      }
    }
  }

  &:nth-child(2) {
    gap: 52px;
    margin-left: 18%;
    padding: 29px 0;

    @include media-max-tablet {
      gap: 28px;
      padding: 0 0 0 120px;
      margin: 0 auto;

      &:after {
        left: 0;
        bottom: 0;
        transform: translate(40%, 40%) rotateY(-180deg);
      }
    }

    @include media-max-mobile {
      padding: 0;
    }

    .step__img {
      @include media-max-tablet {
        height: 169px;
        width: auto;
      }
    }
  }

  &:nth-child(3) {
    gap: 59px;
    margin-left: 31%;
    padding: 57px 0;
    margin: 0 auto;

    @include media-max-tablet {
      gap: 40px;
      padding: 0;

      &:after {
        display: none;
      }
    }

    .step__img {
      @include media-max-tablet {
        height: 223px;
        width: auto;
      }
    }
  }

  &__main {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 100%;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      bottom: -40px;
      right: 0;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.48) 0%, #0e0d14 100%);

      @include media-max-tablet {
        display: none;
      }
    }
  }

  &__order {
    @include typography-h1(var(--color-roles-primary, #acbafd));
    text-shadow: 0px 4px 66.5px #4e40ff;
  }

  &__img {
    object-fit: contain;
    object-position: right;
    width: fit-content;
  }

  &__text {
    @include typography-body-l-medium-narrow(var(--color-roles-on-surface-variant, #dadae1));
    max-width: 400px;
    white-space: wrap;
  }
}
