.container {
  display: flex;
  flex-direction: column;
  gap: 56px;
  // overflow: hidden;

  @include container();

  @include media-max-tablet {
    gap: 80px;
  }

  @include media-max-mobile() {
    gap: 40px;
  }
}

.action {
  display: flex;
  padding: 24px 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  border-radius: 40px;
  background: linear-gradient(180deg, #9363f9 9.3%, #2c3493 138.03%);
  box-shadow:
    0px 1px 92px 0px rgba(108, 114, 255, 0.33),
    2px 2px 34.1px 0px rgba(54, 213, 255, 0.44) inset;

  @include typography-body-l-narrow(var(--color-roles-on-surface, #f7f7fa), center);

  &_wrapper {
    width: fit-content;
    margin: 60px auto 0;
    position: relative;

    @include media-max-mobile {
      width: 510px;
      max-width: 100%;
    }
  }

  &__circle {
    width: 600.348px;
    height: 357.748px;
    flex-shrink: 0;
    border-radius: 600.348px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(66, 51, 255, 0.31) 0%,
      rgba(74, 44, 255, 0) 100%
    );
    position: absolute;
    z-index: -1;

    &_1 {
      top: 50%;
      left: 25%;
      transform: translate(-50%, -50%);
    }
    &_2 {
      top: -50%;
      right: 15%;
      transform: translate(50%, -50%);
    }
    &_3 {
      bottom: -50%;
      right: 15%;
      transform: translate(50%, 50%);
    }
  }
}

.title {
  @include typography-h2(var(---primary-200, #d5dcfe), center);

  @include media-max-tablet {
    @include typography-h3(var(---primary-200, #d5dcfe), center);
  }
}

.steps {
  display: flex;
  flex-direction: column;
  @include media-max-tablet {
    gap: 80px;
  }
  @include media-max-mobile() {
    gap: 40px;
  }
}

@for $i from 1 through 3 {
  .steps > .step:nth-child(#{$i}) {
    // Adjust initial transform for even items
    @if ($i == 1) {
      @include animation($name: 'initialize-start-step', $duration: 1s);
    } @else if ($i % 2 == 0) {
      @include animation($name: 'initialize-start-step', $duration: 1s, $delay: #{($i - 1) * 0.3}s);
    } @else {
      @include animation($name: 'initialize-start-step', $duration: 1s, $delay: #{($i - 1) * 0.3}s);
    }
  }
}

.step {
  display: flex;
  align-items: center;
  position: relative;

  @include init-position-for-start-step();

  @include media-max-tablet {
    flex-direction: column-reverse;
    max-width: 480px;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 109px;
      height: 166px;
      background: url('/svg/curved-small.svg');
      background-size: contain;
    }
  }

  @include media-max-mobile {
    max-width: 100%;
    &:after {
      display: none;
    }
  }

  &:nth-child(1) {
    gap: 74px;
    margin-left: 30%;
    padding: 14px 0;

    @include media-max-tablet {
      gap: 44px;
      padding: 0;
      margin: 0 auto;

      &:after {
        right: 0;
        bottom: 0;
        transform: translate(-20%, 40%);
      }
    }

    .step__img {
      @include media-max-tablet {
        height: 194px;
        width: auto;
        padding: 0;
      }
    }
  }

  &:nth-child(2) {
    gap: 52px;
    // margin-left: 18%;
    padding: 29px 0;

    @include media-max-tablet {
      gap: 28px;
      padding: 0 0 0 120px;
      margin: 0 auto;

      &:after {
        left: 0;
        bottom: 0;
        transform: translate(40%, 40%) rotateY(-180deg);
      }
    }

    @include media-max-mobile {
      padding: 0;
    }

    .step__img {
      @include media-max-tablet {
        height: 169px;
        width: auto;
      }
    }
  }

  &:nth-child(3) {
    gap: 59px;
    margin-left: 21%;
    padding: 57px 0;

    @include media-max-tablet {
      gap: 40px;
      padding: 0;
      margin: 0 auto;
      &:after {
        display: none;
      }
    }

    .step__img {
      @include media-max-tablet {
        height: 223px;
        width: auto;
      }
    }
  }

  &__main {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 100%;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      bottom: -40px;
      right: 0;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.48) 0%, #0e0d14 100%);

      @include media-max-tablet {
        display: none;
      }
    }
  }

  &__order {
    @include typography-h1(var(--color-roles-primary, #acbafd));
    text-shadow: 0px 4px 66.5px #4e40ff;
  }

  &__img {
    object-fit: contain;
    object-position: right;
    width: fit-content;

    max-width: 100%;
  }

  &__text {
    @include typography-body-l-medium-narrow(var(--color-roles-on-surface-variant, #dadae1));
    max-width: 400px;
    white-space: wrap;
  }
}
