body[data-theme='dark'] {
  --btn-accent-active: var(--accent-400);
  --btn-accent-hover: var(--accent-200);
  --btn-accent: var(--color-roles-accent);
  --btn-big-active: var(--primary-900);
  --btn-big-hover: var(--primary-700);
  --btn-big: var(--color-roles-primary-container);
  --btn-disabled: var(--white-300);
  --btn-on-accent: var(--color-roles-on-accent);
  --btn-on-disabled: var(--white-500);
  --btn-on-primary: var(--color-roles-on-primary);
  --btn-on-vertical: var(--color-roles-on-primary-container);
  --btn-primary-active: var(--primary-400);
  --btn-primary-hover: var(--primary-200);
  --btn-primary: var(--color-roles-primary);
  --primary-primary-500: #5a44fb;
  --color-switch-bg-switch-on-default: var(--primary-primary-500);
  --color-switch-bg-switch-on-hover: var(--primary-primary-400);
  --color-switch-bg-icon-off: var(--primary-neutral-100-transparent);
  --color-switch-bg-icon: var(--primary-primary-1000);
  --color-switch-bg-switch-off-hover: var(--neutral-gray-800);
  --color-roles-accent-container: var(--accent-700);
  --color-roles-accent: var(--accent-300);
  --color-roles-inverse-on-surface: var(--secondary-900);
  --color-roles-inverse-surface: var(--primary-50);
  --color-roles-on-accent-container: var(--accent-50);
  --color-roles-on-accent: var(--accent-800);
  --color-roles-on-primary-container: var(--primary-200);
  --color-roles-on-primary: var(--primary-800);
  --color-roles-on-secondary-container: var(--primary-200);
  --color-roles-on-secondary: var(--secondary-800);
  --color-roles-on-surface-variant: var(--secondary-100);
  --color-roles-on-surface: var(--primary-50);
  --color-roles-on-tertiary-container: var(--tertiary-50);
  --color-roles-on-tertiary: var(--tertiary-900);
  --color-roles-outline-variant: var(--white-300);
  --color-roles-outline: var(--white-400);
  --color-roles-primary-container: var(--primary-800);
  --color-roles-primary: var(--primary-300);
  --color-roles-secondary-container: var(--secondary-700);
  --color-roles-secondary: #b5b5c2;
  --color-roles-surface-container-high: var(--white-200);
  --color-roles-surface-container-highest: var(--white-300);
  --color-roles-surface-container: var(--white-100);
  --color-roles-surface: var(--secondary-900);
  --color-roles-tertiary-container: var(--tertiary-700);
  --color-roles-tertiary: var(--tertiary-100);
  --color-bg-default-on_surface: var(--neutral-white-200);
  --gradient-linear-2-1: rgba(14, 2, 104, 0);
  --gradient-linear-2-2: var(--primary-800);
  --gradient-linear-3-1: rgba(243, 122, 85, 0.6);
  --gradient-linear-3-2: rgba(248, 157, 0, 0.5);
  --gradient-linear-3-3: rgba(239, 172, 80, 0);
  --gradient-linear-5: rgba(14, 13, 20, 0);
  --input-placeholder: var(--white-500);
  --switches-off-active: var(--white-200);
  --switches-off-hover: var(--white-400);
  --switches-off: var(--white-300);
}
