body[data-theme='dark'] {
  --btn-accent-active: var(--01primitives--accent-400);
  --btn-accent-hover: var(--01primitives--accent-200);
  --btn-accent: var(--color-roles-accent);
  --btn-big-active: var(--01primitives--primary-900);
  --btn-big-hover: var(--01primitives--primary-700);
  --btn-big: var(--color-roles-primary-container);
  --btn-disabled: var(--01primitives--white-300);
  --btn-on-accent: var(--color-roles-on-accent);
  --btn-on-disabled: var(--01primitives--white-500);
  --btn-on-primary: var(--color-roles-on-primary);
  --btn-on-vertical: var(--color-roles-on-primary-container);
  --btn-primary-active: var(--01primitives--primary-400);
  --btn-primary-hover: var(--01primitives--primary-200);
  --btn-primary: var(--color-roles-primary);
  ---primitives-primary-primary-500: #5a44fb;
  --color-switch-bg-switch-on-default: var(---primitives-primary-primary-500);
  --color-switch-bg-switch-on-hover: var(---primitives-primary-primary-400);
  --color-switch-bg-icon-off: var(---primitives-primary-neutral-100-transparent);
  --color-switch-bg-icon: var(---primitives-primary-primary-1000);
  --color-switch-bg-switch-off-hover: var(---primitives-neutral-gray-800);
  --color-roles-accent-container: var(--01primitives--accent-700);
  --color-roles-accent: var(--01primitives--accent-300);
  --color-roles-inverse-on-surface: var(--01primitives--secondary-900);
  --color-roles-inverse-surface: var(--01primitives--primary-50);
  --color-roles-on-accent-container: var(--01primitives--accent-50);
  --color-roles-on-accent: var(--01primitives--accent-800);
  --color-roles-on-primary-container: var(--01primitives--primary-200);
  --color-roles-on-primary: var(--01primitives--primary-800);
  --color-roles-on-secondary-container: var(--01primitives--primary-200);
  --color-roles-on-secondary: var(--01primitives--secondary-800);
  --color-roles-on-surface-variant: var(--01primitives--secondary-100);
  --color-roles-on-surface: var(--01primitives--primary-50);
  --color-roles-on-tertiary-container: var(--01primitives--tertiary-50);
  --color-roles-on-tertiary: var(--01primitives--tertiary-900);
  --color-roles-outline-variant: var(--01primitives--white-300);
  --color-roles-outline: var(--01primitives--white-400);
  --color-roles-primary-container: var(--01primitives--primary-800);
  --color-roles-primary: var(--01primitives--primary-300);
  --color-roles-secondary-container: var(--01primitives--secondary-700);
  --color-roles-secondary: #b5b5c2;
  --color-roles-surface-container-high: var(--01primitives--white-200);
  --color-roles-surface-container-highest: var(--01primitives--white-300);
  --color-roles-surface-container: var(--01primitives--white-100);
  --color-roles-surface: var(--01primitives--secondary-900);
  --color-roles-tertiary-container: var(--01primitives--tertiary-700);
  --color-roles-tertiary: var(--01primitives--tertiary-100);
  --color-bg-default-on_surface: var(---primitives-neutral-white-200);
  --gradient-linear-2-1: rgba(14, 2, 104, 0);
  --gradient-linear-2-2: var(--01primitives--primary-800);
  --gradient-linear-3-1: rgba(243, 122, 85, 0.6);
  --gradient-linear-3-2: rgba(248, 157, 0, 0.5);
  --gradient-linear-3-3: rgba(239, 172, 80, 0);
  --gradient-linear-5: rgba(14, 13, 20, 0);
  --input-placeholder: var(--01primitives--white-500);
  --switches-off-active: var(--01primitives--white-200);
  --switches-off-hover: var(--01primitives--white-400);
  --switches-off: var(--01primitives--white-300);
}
