body[data-theme='light'] {
  --btn-accent-active: var(--01primitives--accent-700);
  --btn-accent-hover: var(--01primitives--accent-400);
  --btn-accent: var(--color-roles-accent);
  --btn-big-active: var(--01primitives--primary-300);
  --btn-big-hover: var(--01primitives--primary-100);
  --btn-big: var(--color-roles-primary-container);
  --btn-disabled: var(--01primitives--black-50);
  --btn-on-accent: var(--color-roles-on-accent);
  --btn-on-disabled: var(--01primitives--black-300);
  --btn-on-primary: var(--color-roles-on-primary);
  --btn-on-vertical: var(--color-roles-on-primary-container);
  --btn-primary-active: var(--01primitives--primary-700);
  --btn-primary-hover: var(--01primitives--primary-400);
  --btn-primary: var(--color-roles-primary);
  --color-roles-accent-container: var(--01primitives--accent-100);
  --color-roles-accent: var(--01primitives--accent-500);
  --color-roles-inverse-on-surface: var(--01primitives--primary-50);
  --color-roles-inverse-surface: var(--01primitives--secondary-900);
  --color-roles-on-accent-container: var(--01primitives--accent-900);
  --color-roles-on-accent: var(--01primitives--white-800);
  --color-roles-on-primary-container: var(--01primitives--primary-800);
  --color-roles-on-primary: var(--01primitives--white-900);
  --color-roles-on-secondary-container: var(--01primitives--secondary-800);
  --color-roles-on-secondary: var(--01primitives--white-800);
  --color-roles-on-surface-variant: var(--01primitives--secondary-600);
  --color-roles-on-surface: var(--01primitives--secondary-800);
  --color-roles-on-tertiary-container: var(--01primitives--tertiary-800);
  --color-roles-on-tertiary: var(--01primitives--white-800);
  --color-roles-outline-variant: var(--01primitives--black-50);
  --color-roles-outline: var(--01primitives--black-100);
  --color-roles-primary-container: var(--01primitives--primary-200);
  --color-roles-primary: var(--01primitives--primary-500);
  --color-roles-secondary-container: var(--01primitives--primary-100);
  --color-roles-secondary: var(--01primitives--secondary-600);
  --color-roles-surface-container-high: var(--01primitives--white-600);
  --color-roles-surface-container-highest: var(--01primitives--white-900);
  --color-roles-surface-container: var(--01primitives--white-400);
  --color-roles-surface: var(--01primitives--primary-50);
  --color-roles-tertiary-container: var(--01primitives--tertiary-50);
  --color-roles-tertiary: var(--01primitives--tertiary-600);
  --gradient-linear-2-1: rgba(247, 247, 250, 0);
  --gradient-linear-2-2: var(--01primitives--primary-300);
  --gradient-linear-3-1: var(--01primitives--accent-200);
  --gradient-linear-3-2: var(--01primitives--orange-100);
  --gradient-linear-3-3: rgba(255, 244, 223, 0);
  --gradient-linear-5: rgba(247, 247, 250, 0);
  --input-placeholder: var(--01primitives--black-200);
  --switches-off-active: var(--01primitives--black-200);
  --switches-off-hover: var(--01primitives--black-50);
  --switches-off: var(--01primitives--black-100);
}
