body[data-theme='light'] {
  --btn-accent-active: var(--accent-700);
  --btn-accent-hover: var(--accent-400);
  --btn-accent: var(--color-roles-accent);
  --btn-big-active: var(--primary-300);
  --btn-big-hover: var(--primary-100);
  --btn-big: var(--color-roles-primary-container);
  --btn-disabled: var(--black-50);
  --btn-on-accent: var(--color-roles-on-accent);
  --btn-on-disabled: var(--black-300);
  --btn-on-primary: var(--color-roles-on-primary);
  --btn-on-vertical: var(--color-roles-on-primary-container);
  --btn-primary-active: var(--primary-700);
  --btn-primary-hover: var(--primary-400);
  --btn-primary: var(--color-roles-primary);
  --color-roles-accent-container: var(--accent-100);
  --color-roles-accent: var(--accent-500);
  --color-roles-inverse-on-surface: var(--primary-50);
  --color-roles-inverse-surface: var(--secondary-900);
  --color-roles-on-accent-container: var(--accent-900);
  --color-roles-on-accent: var(--white-800);
  --color-roles-on-primary-container: var(--primary-800);
  --color-roles-on-primary: var(--white-900);
  --color-roles-on-secondary-container: var(--secondary-800);
  --color-roles-on-secondary: var(--white-800);
  --color-roles-on-surface-variant: var(--secondary-600);
  --color-roles-on-surface: var(--secondary-800);
  --color-roles-on-tertiary-container: var(--tertiary-800);
  --color-roles-on-tertiary: var(--white-800);
  --color-roles-outline-variant: var(--black-50);
  --color-roles-outline: var(--black-100);
  --color-roles-primary-container: var(--primary-200);
  --color-roles-primary: var(--primary-500);
  --color-roles-secondary-container: var(--primary-100);
  --color-roles-secondary: var(--secondary-600);
  --color-roles-surface-container-high: var(--white-600);
  --color-roles-surface-container-highest: var(--white-900);
  --color-roles-surface-container: var(--white-400);
  --color-roles-surface: var(--primary-50);
  --color-roles-tertiary-container: var(--tertiary-50);
  --color-roles-tertiary: var(--tertiary-600);
  --gradient-linear-2-1: rgba(247, 247, 250, 0);
  --gradient-linear-2-2: var(--primary-300);
  --gradient-linear-3-1: var(--accent-200);
  --gradient-linear-3-2: var(--orange-100);
  --gradient-linear-3-3: rgba(255, 244, 223, 0);
  --gradient-linear-5: rgba(247, 247, 250, 0);
  --input-placeholder: var(--black-200);
  --switches-off-active: var(--black-200);
  --switches-off-hover: var(--black-50);
  --switches-off: var(--black-100);
}
