:root {
  --01primitives--accent-50: #fef0ec;
  --01primitives--accent-100: #fce1d9;
  --01primitives--accent-200: #fbd3c6;
  --01primitives--accent-300: #f8b5a1;
  --01primitives--accent-400: #f6987b;
  --01primitives--accent-500: #f37a55;
  --01primitives--accent-600: #ee4511;
  --01primitives--accent-700: #aa310c;
  --01primitives--accent-800: #661d07;
  --01primitives--accent-900: #441405;
  --01primitives--black-50: rgba(12, 12, 13, 0.05);
  --01primitives--black-100: rgba(12, 12, 13, 0.1);
  --01primitives--black-200: rgba(12, 12, 13, 0.2);
  --01primitives--black-300: rgba(12, 12, 13, 0.4);
  --01primitives--black-400: rgba(12, 12, 13, 0.55);
  --01primitives--black-500: rgba(12, 12, 13, 0.7);
  --01primitives--black-600: rgba(12, 12, 13, 0.8);
  --01primitives--black-700: rgba(12, 12, 13, 0.85);
  --01primitives--black-800: rgba(12, 12, 13, 0.9);
  --01primitives--black-900: #0c0c0d;
  --01primitives--blue-50: #caf0ff;
  --01primitives--blue-100: #9bdbff;
  --01primitives--blue-200: #80d3fd;
  --01primitives--blue-300: #18a3e6;
  --01primitives--blue-400: #198cdd;
  --01primitives--blue-500: #007dc2;
  --01primitives--blue-600: #006eb0;
  --01primitives--blue-700: #005b97;
  --01primitives--blue-800: #00477f;
  --01primitives--blue-900: #003365;
  --01primitives--emeraude-50: #e2fff4;
  --01primitives--emeraude-100: #b7ffe4;
  --01primitives--emeraude-200: #7dffce;
  --01primitives--emeraude-300: #6ef0c0;
  --01primitives--emeraude-400: #44cb9d;
  --01primitives--emeraude-500: #14ac80;
  --01primitives--emeraude-600: #008158;
  --01primitives--emeraude-700: #006c45;
  --01primitives--emeraude-800: #004b28;
  --01primitives--emeraude-900: #002a06;
  --01primitives--gray-100: #f5f5f5;
  --01primitives--gray-200: #e6e6e6;
  --01primitives--gray-300: #d9d9d9;
  --01primitives--gray-400: #b3b3b3;
  --01primitives--gray-500: #757575;
  --01primitives--gray-600: #444444;
  --01primitives--gray-700: #383838;
  --01primitives--gray-800: #2c2c2c;
  --01primitives--gray-900: #1e1e1e;
  --01primitives--gray-1000: #111111;
  --01primitives--green-50: #f9fed5;
  --01primitives--green-100: #f3fdac;
  --01primitives--green-200: #eefc82;
  --01primitives--green-300: #e5fb44;
  --01primitives--green-400: #d6f305;
  --01primitives--green-500: #b9e000;
  --01primitives--green-600: #a2c31f;
  --01primitives--green-700: #7a8b03;
  --01primitives--green-800: #5c6802;
  --01primitives--green-900: #3d4501;
  --01primitives--orange-50: #fff4df;
  --01primitives--orange-100: #ffe9bf;
  --01primitives--orange-200: #ffdea0;
  --01primitives--orange-300: #ffce70;
  --01primitives--orange-400: #ffc047;
  --01primitives--orange-500: #ffb21e;
  --01primitives--orange-600: #f89d00;
  --01primitives--orange-700: #f38100;
  --01primitives--orange-800: #eb7100;
  --01primitives--orange-900: #e55700;
  --01primitives--primary-50: #f7f7fa;
  --01primitives--primary-100: #eaedff;
  --01primitives--primary-200: #d5dcfe;
  --01primitives--primary-300: #acbafd;
  --01primitives--primary-400: #6e6efc;
  --01primitives--primary-500: #5a44fb;
  --01primitives--primary-600: #0505f3;
  --01primitives--primary-700: #0404ae;
  --01primitives--primary-800: #020268;
  --01primitives--primary-900: #010145;
  --01primitives--secondary-50: #ececf0;
  --01primitives--secondary-100: #dadae1;
  --01primitives--secondary-200: #c7c7d1;
  --01primitives--secondary-300: #b5b5c2;
  --01primitives--secondary-400: #a2a2b3;
  --01primitives--secondary-500: #7d7d94;
  --01primitives--secondary-600: #5d5d71;
  --01primitives--secondary-700: #484858;
  --01primitives--secondary-800: #34343f;
  --01primitives--secondary-900: #0e0d14;
  --01primitives--tertiary-50: #e2fbfc;
  --01primitives--tertiary-100: #c5f6f9;
  --01primitives--tertiary-200: #6fe9f1;
  --01primitives--tertiary-300: #19dce8;
  --01primitives--tertiary-400: #14c2cd;
  --01primitives--tertiary-500: #12acb6;
  --01primitives--tertiary-600: #10979f;
  --01primitives--tertiary-700: #0b6c72;
  --01primitives--tertiary-800: #074144;
  --01primitives--tertiary-900: #052b2d;
  --01primitives--white-50: rgba(255, 255, 255, 0.05);
  --01primitives--white-100: rgba(255, 255, 255, 0.08);
  --01primitives--white-200: rgba(255, 255, 255, 0.14);
  --01primitives--white-300: rgba(255, 255, 255, 0.2);
  --01primitives--white-400: rgba(255, 255, 255, 0.3);
  --01primitives--white-500: rgba(255, 255, 255, 0.55);
  --01primitives--white-600: rgba(255, 255, 255, 0.7);
  --01primitives--white-700: rgba(255, 255, 255, 0.8);
  --01primitives--white-800: rgba(255, 255, 255, 0.9);
  --01primitives--white-900: #ffffff;
  --01primitives--yellow-50: #fbfcff;
  --01primitives--yellow-100: #faf8e5;
  --01primitives--yellow-200: #fbf3bc;
  --01primitives--yellow-300: #fef09a;
  --01primitives--yellow-400: #ffed7f;
  --01primitives--yellow-500: #ffea68;
  --01primitives--yellow-600: #fbd861;
  --01primitives--yellow-700: #f5c259;
  --01primitives--yellow-800: #efac50;
  --01primitives--yellow-900: #e7863e;
  ---primitives-neutral-white-200: rgba(255, 255, 255, 0.2);
  ---primitives-primary-neutral-100-transparent: rgba(246, 245, 249, 0.3);
  ---primitives-primary-primary-1000: #0e0d14;
  ---primitives-neutral-gray-800: #2c2c2c;
  ---primitives-primary-primary-400: #8c7ef8;

  // ---------------------------------------------------------------- SIZES
  /* Text-size styles */
  --h1: 84px;
  --h2: 52px;
  --h3: 32px;
  --h3-medium: 32px;
  --h4: 24px;
  --body--l-medium-narrow: 20px;
  --body--l-narrow: 20px;
  --body--l-wide: 20px;
  --body--m-narrow: 16px;
  --body--m-bold-narrow: 16px;
  --body--m-wide: 16px;
  --body--s-narrow-mobile: 14px;
  --body--s-narrow: 12px;
  --body--s-wide: 12px;
  --btn-input---l: 16px;
  --btn-input---l-bold: 16px;
  --btn-input---m: 14px;
  --btn-input---m-bold: 14px;
  --btn-input---s: 12px;
  --btn-input---s-bold: 12px;
}
