:root {
  --accent-50: #fef0ec;
  --accent-100: #fce1d9;
  --accent-200: #fbd3c6;
  --accent-300: #f8b5a1;
  --accent-400: #f6987b;
  --accent-500: #f37a55;
  --accent-600: #ee4511;
  --accent-700: #aa310c;
  --accent-800: #661d07;
  --accent-900: #441405;
  --black-50: rgba(12, 12, 13, 0.05);
  --black-100: rgba(12, 12, 13, 0.1);
  --black-200: rgba(12, 12, 13, 0.2);
  --black-300: rgba(12, 12, 13, 0.4);
  --black-400: rgba(12, 12, 13, 0.55);
  --black-500: rgba(12, 12, 13, 0.7);
  --black-600: rgba(12, 12, 13, 0.8);
  --black-700: rgba(12, 12, 13, 0.85);
  --black-800: rgba(12, 12, 13, 0.9);
  --black-900: #0c0c0d;
  --blue-50: #caf0ff;
  --blue-100: #9bdbff;
  --blue-200: #80d3fd;
  --blue-300: #18a3e6;
  --blue-400: #198cdd;
  --blue-500: #007dc2;
  --blue-600: #006eb0;
  --blue-700: #005b97;
  --blue-800: #00477f;
  --blue-900: #003365;
  --emeraude-50: #e2fff4;
  --emeraude-100: #b7ffe4;
  --emeraude-200: #7dffce;
  --emeraude-300: #6ef0c0;
  --emeraude-400: #44cb9d;
  --emeraude-500: #14ac80;
  --emeraude-600: #008158;
  --emeraude-700: #006c45;
  --emeraude-800: #004b28;
  --emeraude-900: #0a06;
  --gray-100: #f5f5f5;
  --gray-200: #e6e6e6;
  --gray-300: #d9d9d9;
  --gray-400: #b3b3b3;
  --gray-500: #757575;
  --gray-600: #444444;
  --gray-700: #383838;
  --gray-800: #2c2c2c;
  --gray-900: #1e1e1e;
  --gray-1000: #111111;
  --green-50: #f9fed5;
  --green-100: #f3fdac;
  --green-200: #eefc82;
  --green-300: #e5fb44;
  --green-400: #d6f305;
  --green-500: #b9e000;
  --green-600: #a2c31f;
  --green-700: #7a8b03;
  --green-800: #5c68;
  --green-900: #3d45;
  --orange-50: #fff4df;
  --orange-100: #ffe9bf;
  --orange-200: #ffdea0;
  --orange-300: #ffce70;
  --orange-400: #ffc047;
  --orange-500: #ffb21e;
  --orange-600: #f89d00;
  --orange-700: #f38100;
  --orange-800: #eb7100;
  --orange-900: #e55700;
  --primary-50: #f7f7fa;
  --primary-100: #eaedff;
  --primary-200: #d5dcfe;
  --primary-300: #acbafd;
  --primary-400: #6e6efc;
  --primary-500: #5a44fb;
  --primary-600: #0505f3;
  --primary-700: #0404ae;
  --primary-800: #68;
  --primary-900: #45;
  --secondary-50: #ececf0;
  --secondary-100: #dadae1;
  --secondary-200: #c7c7d1;
  --secondary-300: #b5b5c2;
  --secondary-400: #a2a2b3;
  --secondary-500: #7d7d94;
  --secondary-600: #5d5d71;
  --secondary-700: #484858;
  --secondary-800: #34343f;
  --secondary-900: #0e0d14;
  --tertiary-50: #e2fbfc;
  --tertiary-100: #c5f6f9;
  --tertiary-200: #6fe9f1;
  --tertiary-300: #19dce8;
  --tertiary-400: #14c2cd;
  --tertiary-500: #12acb6;
  --tertiary-600: #10979f;
  --tertiary-700: #0b6c72;
  --tertiary-800: #074144;
  --tertiary-900: #052b2d;
  --white-50: rgba(255, 255, 255, 0.05);
  --white-100: rgba(255, 255, 255, 0.08);
  --white-200: rgba(255, 255, 255, 0.14);
  --white-300: rgba(255, 255, 255, 0.2);
  --white-400: rgba(255, 255, 255, 0.3);
  --white-500: rgba(255, 255, 255, 0.55);
  --white-600: rgba(255, 255, 255, 0.7);
  --white-700: rgba(255, 255, 255, 0.8);
  --white-800: rgba(255, 255, 255, 0.9);
  --white-900: #ffffff;
  --yellow-50: #fbfcff;
  --yellow-100: #faf8e5;
  --yellow-200: #fbf3bc;
  --yellow-300: #fef09a;
  --yellow-400: #ffed7f;
  --yellow-500: #ffea68;
  --yellow-600: #fbd861;
  --yellow-700: #f5c259;
  --yellow-800: #efac50;
  --yellow-900: #e7863e;
  --neutral-white-200: rgba(255, 255, 255, 0.2);
  --primary-neutral-100-transparent: rgba(246, 245, 249, 0.3);
  --primary-primary-1000: #0e0d14;
  --neutral-gray-800: #2c2c2c;
  --primary-primary-400: #8c7ef8;

  // ---------------------------------------------------------------- SIZES
  /* Text-size styles */
  --h1: 84px;
  --h2: 52px;
  --h3: 32px;
  --h3-medium: 32px;
  --h4: 24px;
  --body--l-medium-narrow: 20px;
  --body--l-narrow: 20px;
  --body--l-wide: 20px;
  --body--m-narrow: 16px;
  --body--m-bold-narrow: 16px;
  --body--m-wide: 16px;
  --body--s-narrow-mobile: 14px;
  --body--s-narrow: 12px;
  --body--s-wide: 12px;
  --btn-input---l: 16px;
  --btn-input---l-bold: 16px;
  --btn-input---m: 14px;
  --btn-input---m-bold: 14px;
  --btn-input---s: 12px;
  --btn-input---s-bold: 12px;

  // ===============================================================================================
  --btn-accent-active: var(--accent-400);
  --btn-accent-hover: var(--accent-200);
  --btn-accent: var(--color-roles-accent);
  --btn-big-active: var(--primary-900);
  --btn-big-hover: var(--primary-700);
  --btn-big: var(--color-roles-primary-container);
  --btn-disabled: var(--white-300);
  --btn-on-accent: var(--color-roles-on-accent);
  --btn-on-disabled: var(--white-500);
  --btn-on-primary: var(--color-roles-on-primary);
  --btn-on-vertical: var(--color-roles-on-primary-container);
  --btn-primary-active: var(--primary-400);
  --btn-primary-hover: var(--primary-200);
  --btn-primary: var(--color-roles-primary);
  --color-roles-accent-container: var(--accent-700);
  --color-roles-accent: var(--accent-300);
  --color-roles-inverse-on-surface: var(--secondary-900);
  --color-roles-inverse-surface: var(--primary-50);
  --color-roles-on-accent-container: var(--accent-50);
  --color-roles-on-accent: var(--accent-800);
  --color-roles-on-primary-container: var(--primary-200);
  --color-roles-on-primary: var(--primary-800);
  --color-roles-on-secondary-container: var(--primary-200);
  --color-roles-on-secondary: var(--secondary-800);
  --color-roles-on-surface-variant: var(--secondary-100);
  --color-roles-on-surface: var(--primary-50);
  --color-roles-on-tertiary-container: var(--tertiary-50);
  --color-roles-on-tertiary: var(--tertiary-900);
  --color-roles-outline-variant: var(--white-300);
  --color-roles-outline: var(--white-400);
  --color-roles-primary-container: var(--primary-800);
  --color-roles-primary: var(--primary-300);
  --color-roles-secondary-container: var(--secondary-700);
  --color-roles-secondary: #b5b5c2;
  --color-roles-surface-container-high: var(--white-200);
  --color-roles-surface-container-highest: var(--white-300);
  --color-roles-surface-container: var(--white-100);
  --color-roles-surface: var(--secondary-900);
  --color-roles-tertiary-container: var(--tertiary-700);
  --color-roles-tertiary: var(--tertiary-100);
  --gradient-linear-2-1: rgba(14, 2, 104, 0);
  --gradient-linear-2-2: var(--primary-800);
  --gradient-linear-3-1: rgba(243, 122, 85, 0.6);
  --gradient-linear-3-2: rgba(248, 157, 0, 0.5);
  --gradient-linear-3-3: rgba(239, 172, 80, 0);
  --gradient-linear-5: rgba(14, 13, 20, 0);
  --input-placeholder: var(--white-500);
  --switches-off-active: var(--white-200);
  --switches-off-hover: var(--white-400);
  --switches-off: var(--white-300);
}
