.question {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--btn-primary-hover, #d5dcfe);
  background: var(--color-roles-surface-container, rgba(255, 255, 255, 0.08));
  cursor: pointer;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // @include typography-body-m-narrow(var(---primary-100, #eaedff));
    @include typography-body-l-medium-narrow(var(---primary-100, #eaedff));
  }

  &__answer {
    p {
      overflow: hidden;
      padding-top: 8px;
      @include typography-body-m-narrow(var(--color-roles-on-surface-variant, #dadae1));
      font-size: 16px;
    }
  }
}

.question__btn {
  background: none;
  border: none;
  fill: var(---primary-100, #eaedff);
}

.icon {
  transition: transform 0.3s ease;
  transform: rotate(0deg);

  &_open {
    transform: rotate(-180deg);
  }
}
