// @use '@/styles/typography.scss' as *;
// @use '@/styles/mixins.scss' as *;

.tablet {
  justify-content: space-between;
  align-items: flex-start;
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // width: 100vw;
  // width: 100svw;
  @include safe-viewport(width, '100svw');
  padding: 20px;
  z-index: 100;
  pointer-events: none;

  @include media-max-tablet {
    display: flex;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    pointer-events: all;
  }
}

.icon {
  display: flex;
  height: 44px;
  width: 44px;
  padding: 10px;
  gap: 8px;
  border-radius: 50%;
  border: 1px solid var(---primary-100, #eaedff);

  svg {
    transform: translate(-1px, -2px);
    path {
      fill: var(---primary-100, #eaedff);
    }
  }
}
