.footer {
  @include container($padding: 140px 20px 0);
  @include media-max-tablet {
    padding: 80px 20px 20px;
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}

.nav {
  display: flex;
  // padding-bottom: 14px;
  justify-content: space-between;
  align-items: center;
  column-gap: 58px;

  &__link {
    @include typography-body-l-medium-narrow(var(--btn-primary, #acbafd));
    display: flex;
    height: 44px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  @include media-max-tablet {
    width: fit-content;
    flex-wrap: wrap;

    &__link {
      padding: 8px 16px;
    }
  }

  @include media-max-mobile {
    column-gap: 0;
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: 12px;
}

.actions {
  display: flex;
  padding-top: 32px;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;

  &__social {
    display: flex;
    width: 56px;
    min-width: 56px;
    height: 56px;
    min-height: 56px;
    padding-right: 4px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 34px;
    border: 1px solid var(--btn-primary, #acbafd);
    fill: var(--btn-primary, #acbafd);
    position: relative;

    &_vk {
      // transform: translateY(22%);
      transform: translate(-1px, 22%);
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-wrap: wrap;
  }

  &__application {
    display: flex;
    height: 56px;
    padding: 0px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 40px;
    background: var(--color-roles-primary, #acbafd);
    @include typography-body-l-narrow(#020268, center);
    border: none;

    @include media-max-tablet {
      border-radius: 100px;
    }

    @include media-max-mobile {
      font-size: 14px;
      height: 40px;
      margin: 0 auto;
      @include safe-viewport(width, '100vw');
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  a {
    color: var(--color-roles-primary, #acbafd);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;

    @include media-max-mobile {
      font-size: 20px;
    }
  }
}

.contact {
  display: flex;
  align-items: center;
  gap: 16px;
  fill: var(--color-roles-primary, #acbafd);
  padding-left: 12px;
}

.bottom {
  display: flex;
  align-items: flex-start;
  // padding-top: 80px;
  gap: 32px;
  align-self: stretch;
  // padding-bottom: 32px;

  padding: 40px 0;

  .questions {
    margin-right: auto;
    display: flex;
    height: 56px;
    width: 610px;
    padding: 6px 0px;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;

    padding: 0px 8px 0px 24px;
    gap: 8px;

    border-radius: 16px;
    border: 1px solid var(--color-roles-outline-variant, rgba(255, 255, 255, 0.2));
    background: var(--color-roles-surface-container-high, rgba(255, 255, 255, 0.14));

    /* shadow-light-mode-input */
    box-shadow: 0px 2px 3px 0px rgba(102, 100, 113, 0.1);

    input {
      @include typography-body-l-medium-narrow(var(--input-placeholder, rgba(255, 255, 255, 0.55)));
    }

    button {
      display: flex;
      width: 162px;
      height: 44px;
      padding: 10px 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      flex-shrink: 0;
      border-radius: 10px;
      border: 1px solid var(--btn-primary, #acbafd);
      background: none;

      @include typography-btn-input-l-bold(var(--btn-primary, #acbafd));
    }

    @include media-max-tablet {
      display: none;
    }
  }

  &__link {
    opacity: 0.7;
  }

  @include media-max-tablet {
    padding: 40px 0;
  }
}

.links {
  display: flex;
  // width: 1240px;
  position: relative;

  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 16px;
  flex-wrap: wrap;
  // border-top: 1px solid var(---secondary-600, #5d5d71);
  // margin-top: 32px;

  @include container($padding: 32px 20px 20px);

  &__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__copyright {
    @include typography-body-l-medium-narrow(var(---secondary-500, #7d7d94));
  }

  &__link {
    @include typography-body-l-medium-narrow(var(---secondary-500, #7d7d94));
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }

  &:before {
    content: '';
    display: block;
    height: 1px;
    @include safe-viewport(min-width, '100vw');
    background: var(---secondary-600, #5d5d71);
    top: 0;
    left: 50%;
    transform: translateX(-51%);
    position: absolute;
  }
}

.juridical {
  position: relative;

  color: var(---secondary-400, #a2a2b3);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  padding: 80px 0 40px;

  &:before {
    content: '';
    display: block;
    height: 1px;
    @include safe-viewport(min-width, '100vw');
    background: var(---secondary-600, #5d5d71);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
}

.juridical__company {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;

  & > div:nth-child(2) {
    margin-right: 20px;
  }
}

.juridical__address {
  margin: 0 0 12px;
  font-style: normal;
  text-wrap: wrap;
}

.juridical__main {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.juridical__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.juridical__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  a,
  button {
    color: var(---secondary-400, #a2a2b3);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    background: none;
  }
}

.modal {
  &__title {
    @include typography-h3(var(--color-roles-on-surface, #f7f7fa), center);
  }

  &__fields {
    display: flex;
    flex-direction: column;
    // gap: 16px;
    width: 100%;
  }

  &__textarea {
    display: flex;
    height: 136px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    padding: 16px 12px 8px 16px;

    border-radius: 16px;
    border: 1px solid var(--color-roles-outline-variant, rgba(255, 255, 255, 0.2));
    background: var(--color-roles-surface-container-high, rgba(255, 255, 255, 0.14));

    /* shadow-light-mode-input */
    box-shadow: 0px 2px 3px 0px rgba(102, 100, 113, 0.1);
    resize: none;
    @include typography-body-l-medium-narrow(var(--input-placeholder, rgba(255, 255, 255, 0.55)));

    &::placeholder {
      @include typography-body-l-medium-narrow(var(--input-placeholder, rgba(255, 255, 255, 0.55)));
    }
  }

  &__input {
    height: 56px;
    padding: 6px 8px 6px 24px;
    width: 100%;
    margin-top: 16px;

    border-radius: 16px;
    border: 1px solid var(--color-roles-outline-variant, rgba(255, 255, 255, 0.2));
    background: var(--color-roles-surface-container-high, rgba(255, 255, 255, 0.14));

    /* shadow-light-mode-input */
    box-shadow: 0px 2px 3px 0px rgba(102, 100, 113, 0.1);
    @include typography-body-l-medium-narrow(var(--color-roles-on-surface-variant, #dadae1));

    &::placeholder {
      @include typography-body-l-medium-narrow(var(--color-roles-on-surface-variant, #dadae1));
    }
  }

  &__btn {
    display: flex;
    height: 56px;
    padding: 0px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--color-roles-primary, #acbafd);
    @include typography-body-l-narrow(#020268);
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  &__agreement {
    margin-top: 0 !important;
  }
}

.modal__success {
  width: fit-content;
}

.top__logo {
  height: 94px;
  width: auto;
  transform: translateX(-12%);
}

.question_btn {
  color: #acbafd !important;
}
