@use '@/styles/typography' as *;
@use '@/styles/mixins' as *;

$points-gap: 100px;
$circle-size: 12px;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;

  @include container($max-width: 100vw, $width: 1682px);
  // @include container($max-width: 1578px);

  @include media-max-tablet {
    flex-direction: column;
  }
}

.title {
  @include typography-h2(var(---primary-200, #d5dcfe), left);

  @include media-max-tablet {
    text-align: center;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;

  width: 660px;
  min-width: 660px;

  @include media-max-mobile {
    max-width: 100%;
    min-width: none;
  }
}

.image {
  border-radius: 40px;
  flex-shrink: 0;
  aspect-ratio: 451/419;
  transition: border-radius 0.3s ease;
  object-fit: cover;

  // width: 902px;

  width: calc(100vw - 780px);
  max-width: 902px;

  // @media screen and (max-width: 1642px) {
  //   width: calc(100vw - 780px);
  //   max-width: ;
  // }

  @include media-max-tablet {
    width: 100%;
    height: 612px;
    object-fit: cover;
    max-width: none;
  }

  @include media-max-mobile {
    border-radius: 10px;
  }
}

.points {
  display: flex;
  flex-direction: column;
  gap: $points-gap;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    display: block;
    left: calc($circle-size / 2);
    top: calc($circle-size / 2);
    transform: translateX(-50%);
    height: calc(100% - 41px);
    width: 2px;
    background: url('/svg/dashed-line.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.point {
  display: flex;
  gap: 40px;
  position: relative;

  &__circle {
    width: $circle-size;
    height: $circle-size;
    min-width: $circle-size;
    border-radius: 50%;
    background: #5a44fb;
  }

  &__text {
    @include typography-body-l-medium-narrow(var(--color-roles-on-surface-variant, #dadae1));
    max-width: 495px;
    line-height: 134%;
    transform: translateY(-6%);
  }

  &:first-of-type {
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: calc($circle-size / 2);
      left: calc($circle-size / 2);
      width: 2px;
      height: calc(100% + $points-gap);
      transform: translateX(-50%);
      background: linear-gradient(180deg, #5a44fb 0%, rgba(90, 68, 251, 0) 100%);
    }
  }
}
