@use '@/styles/typography.scss' as *;
@use '@/styles/mixins.scss' as *;

.header {
  position: absolute;
  top: 24px;
  width: 1240px;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 2;
}

.burger {
  display: none;
  background: none;
  cursor: pointer;
  position: relative;
  z-index: 10;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid var(---primary-100, #eaedff);

  &__icon {
    path {
      fill: var(---primary-100, #eaedff);
    }
  }
}

.nav {
  margin-right: auto;
  display: flex;
  width: 644px;
  height: 44px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 40px;
  border: 1px solid var(---white-500, rgba(255, 255, 255, 0.55));

  &__link {
    display: flex;
    padding: 7px 32px 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;

    @include typography-body-l-medium-narrow;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: calc(100% + 4px);
      height: calc(100% + 4px);

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.1s ease;

      opacity: 0;
      border-radius: 40px;
      border: 1px solid var(---white-100, rgba(255, 255, 255, 0.08));
      background: var(---white-200, rgba(255, 255, 255, 0.14));
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
}

.contact {
  display: flex;
  padding-left: 32px;
  align-items: center;
  gap: 24px;
  border-radius: 40px;
  border: 1px solid var(---white-400, rgba(255, 255, 255, 0.3));
  position: relative;
  z-index: 1;
  @include typography-body-m-narrow;

  // @media (max-width: 1024px) {
  //   padding-left: 0;
  // }

  &__link {
    // @media (max-width: 1024px) {
    //   display: none;
    // }
  }

  .icon {
    display: flex;
    height: 44px;
    width: 44px;
    padding: 10px;
    gap: 8px;
    border-radius: 50%;
    border: 1px solid var(---primary-100, #eaedff);

    path {
      fill: var(---primary-100, #eaedff);
    }
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.lang {
  height: 44px;
  width: 44px;
  padding: 10px;
  gap: 8px;
  border-radius: 50%;
  border: 1px solid var(---primary-100, #eaedff);
  background: none;
  cursor: pointer;
  // @media (max-width: 1024px) {
  //   display: none;
  // }

  @include typography-btn-input-l-bold;
}

.nav,
.right {
  @include media-max-tablet {
    display: none;
  }
}
