.button {
  cursor: pointer;
  appearance: none;
  background: transparent;
  padding: 0;

  &--more {
    @include font($raleway, 16px, 19px, 700, normal);
    color: $cyan;
    @include flex-center;
    border: 3px solid $cyan;
    width: 161px;
    min-height: 41px;
  }

  &--slider {
    border: none;

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      transform: scale(0.9);
    }

    &:active {
      opacity: 0.7;
    }
  }
}
