@import '@/styles/fonts';
@import '@/styles/root.scss';
@import '@/styles/dark-theme.scss';
@import '@/styles/light-theme.scss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-day-base-09: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  background: linear-gradient(71deg, #0f0b27 1.59%, rgba(38, 31, 129, 0.67) 41.56%, #0e0d14 96.75%),
    #0e0d14;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.rfm-marquee {
  gap: 80px;
  & > * {
    gap: 80px;
  }
}
