.news {
  display: flex;
  padding-top: 140px;
  flex-direction: column;
  // gap: 60px;
  max-width: 1240px;
  margin: auto;
  overflow: hidden;
  position: relative;
  @include container();

  @include media-max-tablet {
    gap: 0;

    padding-left: 0;
    padding-right: 0;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    height: 120%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 15%;
    max-width: 190px;

    // @include media-max-tablet {
    //   display: none;
    // }
  }

  &:before {
    display: none;
    left: 0;
    background: linear-gradient(90deg, #0b091b 0%, rgba(12, 9, 27, 0) 100%);
    // background: linear-gradient(90deg, #0b091b 0%, rgba(12, 9, 27, 0) 100%);
  }

  &:after {
    display: none;
    right: 0;
    background: linear-gradient(270deg, #0b091b 0%, rgba(12, 9, 27, 0) 100%);
    // background: linear-gradient(270deg, #0b091b 0%, rgba(12, 9, 27, 0) 100%);
  }

  &__short {
    &:before,
    &:after {
      display: none;
    }
  }

  &__left {
    &:after {
      display: block;
    }

    &_scrolling {
      &:after,
      &:before {
        display: block;
      }

      &:before {
        width: 5%;
        background: linear-gradient(90deg, #0b091b 0%, #0b091b 50%, rgba(12, 9, 27, 0) 100%);
      }
    }
  }
  &__right {
    &:before {
      display: block;
    }

    &_scrolling {
      &:after,
      &:before {
        display: block;
      }

      &:after {
        width: 5%;
        background: linear-gradient(270deg, #0b091b 0%, #0b091b 50%, rgba(12, 9, 27, 0) 100%);
      }
    }
  }

  &__title {
    @include typography-h2(var(---primary-100, #eaedff), center);
    font-size: 32px;

    @include media-max-tablet {
      @include typography-h3(var(---primary-100, #eaedff), center);
    }
  }

  &__blocks {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    cursor: grab;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 20px;
    overscroll-behavior-inline: contain;
    user-select: none;

    overflow-x: 'auto';
    white-space: 'nowrap';
    cursor: 'grab';
    position: relative;

    @include init-position-for-content();
    &_active {
      @include animation($name: 'initialize-content');
    }

    &::-webkit-scrollbar {
      display: none;
    }

    @include media-max-tablet {
      display: none;
    }
  }

  @include media-max-tablet {
    &:before {
      display: none;
      left: 0;
      background: linear-gradient(90deg, #0b091b 20%, rgba(12, 9, 27, 0) 100%);
    }

    &:after {
      display: none;
      right: 0;
      background: linear-gradient(270deg, #0b091b 20%, rgba(12, 9, 27, 0) 100%);
    }
  }
}

.block {
  border-radius: 16px;
  border: 1px solid var(--color-roles-outline-variant, rgba(255, 255, 255, 0.2));
  background: var(--color-roles-surface-container, rgba(255, 255, 255, 0.08));
  display: flex;
  flex-direction: column;
  max-width: 507px;
  overflow: hidden;

  &__info {
    display: flex;
    padding: 24px 32px 24px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  &__date {
    color: var(---white-400, rgba(255, 255, 255, 0.3));
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.16px;
  }

  &__paragraph {
    white-space: pre-line;
    @include typography-body-m-narrow(var(--color-roles-on-surface-variant, #dadae1));
  }

  &__list {
    list-style: none;

    &_item {
      @include typography-body-m-narrow(var(--color-roles-on-surface-variant, #dadae1));

      display: flex;

      &:before {
        content: '•';
        display: block;
        position: relative;
        padding: 0 10px;
      }
    }
  }

  @include media-max-mobile {
    width: 507px;
    // max-width: calc(100vw - 40px);
    // @include support-with-fallback(max-width, calc(100svw - 40px), calc(100vw - 40px));
    @include safe-viewport(max-width, 'calc(100vw - 40px)');

    &__image {
      width: 100%;
      height: auto;
    }
  }
}

.drag_block {
  // display: none;

  width: 100%;

  //! FOR WHEN THERE'S LESS THAN 4 BLOCKS
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 40px;
  //! FOR WHEN THERE'S LESS THAN 4 BLOCKS

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 20px;
    z-index: +1;
    pointer-events: none;
  }

  &:before {
    left: 0;
    background: linear-gradient(90deg, #0e0d14 0%, rgba(12, 9, 27, 0) 100%);
  }

  &:after {
    right: 0;
    background: linear-gradient(270deg, #0e0d14 0%, rgba(12, 9, 27, 0) 100%);
  }

  @include init-position-for-content();
  &_active {
    @include animation($name: 'initialize-content');
  }

  // @include media-max-tablet {
  //   display: block;
  // }
}
