@import "/static/styles/reset.css";

svg {
	transition: all ease 0.25s;
}

* {
	font-family: "Montserrat";
	font-style: normal;
	color: #fff;
}

html {
	background-color: #2b3152;
}

html,
body {
	scrollbar-gutter: stable;
}

body {
	&:has(dialog[open]) {
		overflow: hidden;
	}

	&::-webkit-scrollbar {
		width: 4px;
		border-radius: 30px;
	}

	&::-webkit-scrollbar-thumb {
		cursor: pointer;
		border-radius: 100px;
		background: var(--neutral);

		&:hover {
			background: var(--bright);
		}
	}

	&::-webkit-scrollbar-track {
		background-color: var(--second);
		border-radius: 100px;
	}
}

:root {
	--white: #fff;
	--general: #2b3152;
	--second: #212745;
	--bright: #6c60ef;
	--neutral: #2082a1;
}
